definitions:
  domain.Criptomoneda:
    properties:
      id:
        type: integer
      simbolo:
        type: string
      string:
        type: string
    type: object
  domain.Documento:
    properties:
      numero:
        type: string
      tipo:
        $ref: '#/definitions/domain.TipoDocumento'
    type: object
  domain.TipoDocumento:
    enum:
    - 0
    - 1
    - 2
    type: integer
    x-enum-varnames:
    - DNI
    - Cedula
    - Pasaporte
  domain.Usuario:
    properties:
      apellido:
        type: string
      documento:
        $ref: '#/definitions/domain.Documento'
      email:
        type: string
      fechaDeNacimiento:
        type: string
      id:
        type: integer
      monedasInteres:
        items:
          $ref: '#/definitions/domain.Criptomoneda'
        type: array
      nombre:
        type: string
      username:
        type: string
    type: object
  ports.CotizacionPut:
    properties:
      fecha:
        type: string
      simbolo:
        type: string
      valor:
        type: number
    type: object
  ports.MonedaOutputDTO:
    properties:
      id:
        type: integer
      nombre:
        type: string
      simbolo:
        type: string
    type: object
  ports.Patch:
    properties:
      op:
        type: string
      path:
        type: string
      value: {}
    type: object
info:
  contact: {}
  description: API en la cual podemos consultar cotizaciones de diferentes monedas
  title: Criptomoneda API
paths:
  /cotizacion:
    post:
      consumes:
      - application/json
      parameters:
      - description: Usuario que cotizara
        in: query
        name: id-usuario
        required: true
        type: string
      - description: Simbolo de la moneda que cotizara
        in: query
        name: simbolo
        required: true
        type: string
      - description: Valor que cotizara
        in: query
        name: precio
        required: true
        type: string
      - description: Fecha de la cotizacion
        in: query
        name: fecha
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            type: string
      summary: Usuario hace cotizacion de moneda manualmente
      tags:
      - Cotizacion
  /cotizacion/{id}:
    delete:
      consumes:
      - application/json
      parameters:
      - description: Usuario que elimina
        in: path
        name: id
        required: true
        type: string
      - description: cotizacion a eliminar
        in: query
        name: id-cotizacion
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            type: string
      summary: Usuario elimina cotizacion de moneda manualmente
      tags:
      - Cotizacion
    put:
      consumes:
      - application/json
      parameters:
      - description: id de cotizacion
        in: path
        name: id
        required: true
        type: string
      - description: Usuario que hace los cambios
        in: query
        name: id-usuario
        required: true
        type: string
      - description: Cotizacion Actualizada
        in: body
        name: cambios
        required: true
        schema:
          $ref: '#/definitions/ports.CotizacionPut'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            type: string
      summary: Usuario cambia cotizacion de moneda manualmente
      tags:
      - Cotizacion
  /cotizaciones:
    get:
      consumes:
      - application/json
      parameters:
      - description: simbolos de las monedas que queremos separados por espacios
        in: query
        name: monedas
        type: string
      - description: Fecha desde la cual quiero obtener cotizaciones (YYYY-MM-DD HH:MM:SS)
        format: date-time
        in: query
        name: fecha_inicial
        type: string
      - description: Fecha hasta la cual quiero obtener cotizaciones (YYYY-MM-DD HH:MM:SS)
        format: date-time
        in: query
        name: fecha_final
        type: string
      - description: El tama침o de las paginas, como maximo es 100, el default es 50
        in: query
        name: tam_paginas
        type: string
      - description: Pagina a partir de la cual sera retornado el query
        in: query
        name: pagina_inicial
        type: integer
      - description: La cantidad de paginas, como maximo es 10, el default es 10
        in: query
        name: cant_paginas
        type: integer
      - description: 'Ordenar segun alguno de estos valores: fecha(default), valor,
          nombre'
        in: query
        name: orden
        type: string
      - description: Indica si es ascendente o descendente, el default es desdencente
        in: query
        name: orden_direccion
        type: string
      - description: Usuario elegido
        in: query
        name: usuario
        type: integer
      - description: Para incluir resumen indicar el valor debe ser si
        in: query
        name: resumen
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              items: {}
              type: array
            type: array
        "400":
          description: Bad Request
          schema:
            type: string
      summary: Retorna las cotizaciones paginadas segun los filtros
      tags:
      - Cotizacion
    post:
      consumes:
      - application/json
      parameters:
      - description: Token de autorizaci칩n
        in: header
        name: Authorization
        required: true
        type: string
      - description: API que se utilizara para cotizar
        in: query
        name: api
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              items: {}
              type: array
            type: array
        "400":
          description: Bad Request
          schema:
            type: string
      summary: Llama para que se haga la cotizacion de las monedas
      tags:
      - Cotizacion
  /monedas:
    get:
      consumes:
      - application/json
      description: Obtiene una lista de todos las monedas disponibles.
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/ports.MonedaOutputDTO'
            type: array
      summary: Busca todas las monedas
      tags:
      - Moneda
    post:
      consumes:
      - application/json
      description: Si tenemos las credenciales podemos dar de alta una moneda
      parameters:
      - description: Token de autorizaci칩n
        in: header
        name: Authorization
        required: true
        type: string
      - description: Simbolo de la moneda
        in: query
        name: simbolo
        required: true
        type: string
      - description: Nombre de la moneda nueva
        in: query
        name: nombre
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: integer
        "400":
          description: Bad Request
          schema: {}
      summary: Da de alta una moneda
      tags:
      - Moneda
  /usuarios:
    delete:
      consumes:
      - application/json
      parameters:
      - description: id del usuario que se desea dar de baja
        in: query
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            type: string
      summary: Da de baja a un usuario
      tags:
      - Usuarios
    get:
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/domain.Usuario'
            type: array
        "400":
          description: Bad Request
          schema:
            type: string
      summary: Lista de usuario registrados
      tags:
      - Usuarios
    post:
      consumes:
      - application/json
      parameters:
      - description: nombre de usuario elegido
        in: query
        name: username
        required: true
        type: string
      - description: nombre del nuevo usuario
        in: query
        name: nombre
        required: true
        type: string
      - description: apellido del nuevo usuario
        in: query
        name: apellido
        required: true
        type: string
      - description: email del nuevo usuario
        in: query
        name: email
        required: true
        type: string
      - description: dni | cedula | pasaporte
        in: query
        name: tipo_documento
        required: true
        type: string
      - description: identificador de documento elegido
        in: query
        name: documento_numero
        required: true
        type: string
      - description: formato YYYY-MM-DD HH:MM:SS
        in: query
        name: fecha_nacimiento
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            type: string
      summary: Crear un usuario
      tags:
      - Usuarios
  /usuarios/{id}:
    patch:
      consumes:
      - application/json
      description: Actualiza parcialmente un usuario por su ID
      parameters:
      - description: ID del usuario a actualizar
        in: path
        name: id
        required: true
        type: integer
      - description: Datos de actualizaci칩n en JSON
        in: body
        name: body
        required: true
        schema:
          items:
            $ref: '#/definitions/ports.Patch'
          type: array
      responses:
        "200":
          description: OK
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            type: string
      summary: Actualizar atributos de usuario
      tags:
      - Usuarios
swagger: "2.0"
